@import url('https://fonts.googleapis.com/css?family=Coustard:300,400&display=swap');

#about {
  background-color: $primary-color;
  background-image: linear-gradient(
    135deg,
    $primary-color 0%,
    $secondary-color 100%
  );
  color: $white-color;
  height: 100%;
  border-top: 0px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  padding-bottom: 10%;

  @include respond(tab-land) {
    height: 100%;
    -webkit-clip-path: none;
    clip-path: none;
  }

  .about-wrapper {
    @include respond(phone) {
      padding-bottom: 5rem;
    }

    &__image {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;

      @include respond(tab-land) {
        height: 100%;
      }
      @include respond(tab-port-sm) {
        padding-bottom: 6.4rem;
      }

      .item {
        background-color: white;
        position: relative;
        display: inline-block;
        margin: 1% 2% 1% 0%;
        overflow: hidden;
        box-shadow: 2px 3px 10px #444444;
        border-radius: 10px;
      }

      .item .overlay {
        color: #000;
        width: 100%;
        height: 100%;
        background-color: white;
        opacity: 0;
        transition: all 0.5s ease;
        position: absolute;
        top: 0;
        bottom: 0;
      }

      /* effect-clean*/
      .clean .overlay span:nth-child(1) {
        position: absolute;
        left: 30%;
        top: 35%;
        font-size: 80px;
        font-weight: bold;
        font-family: coustard;
        transform: translateX(-50%);
      }

      .clean .overlay span:nth-child(2) {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 17px;
        transform: translateX(-50%);
      }

      .clean .overlay span:nth-child(3) {
        height: 3px;
        background-color: #000;
        position: absolute;
        top: 60%;
        left: 0;
      }

      .clean .overlay:hover {
        opacity: 0.4;
      }

      .clean .overlay:hover span:nth-child(1) {
        animation: slide 0.4s;
      }

      .clean .overlay:hover span:nth-child(2) {
        animation: slide 0.7s;
      }

      .clean .overlay:hover span:nth-child(3) {
        animation: line 0.5s forwards;
      }

      @keyframes slide {
        0% {
          transform: translateX(-10%);
        }

        100% {
          transform: translateX(-50%);
        }
      }

      @keyframes line {
        0% {
          width: 0;
        }

        100% {
          width: 50%
        }
      }
    }

    &__info {
      display: flex;
      height: 100%;
      justify-content: center;
      flex-direction: column;

      @include respond(tab-port-sm) {
        align-items: center;
      }

      &-text {
        text-align: left;

        @include respond(tab-port) {
          text-align: left;
        }
        @include respond(tab-port-sm) {
          text-align: center;
        }

        &--important {
          background: darken($secondary-color, 1%);
          display: inline-block;
          font-style: italic;
          padding: 0 0.3rem;
          margin: 0.3rem 0;
          line-height: 1.6;

          @include respond(phone) {
            display: inline;
            margin: 0;
            padding: 0;
            background: transparent;
            font-style: normal;
          }
        }
      }
    }
  }
}
